


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Свадьба</title>
</head>
<body>
    <h1> Наша свадьба </h1>
    <a href="/Home/Guests">Список гостей</a>
</body>
</html>
